



              <div id="contenido" >
                <div id="contenidologging" *ngIf="!menuvisible" >
                    <div id="textEli" >Elige tipo de cuenta</div>
                    <div id="menuOpcionesLoggin">
                    
                    <i (mousedown)="goEmpleado()"   class="bi bi-person-fill iconoxxl" title="Empleado"></i>
                    <i (mousedown)="goSupervisor()" class="bi bi-person-fill-gear iconoxxl" title="Supervisor"></i>
                    <i (mousedown)="goAdmin()" class="bi bi-person-lock iconoxxl" title="Administrador"></i>
                    </div>
                </div>

              
              
                <div id="contenidoOpcionesMaster" *ngIf="menuvisible" >
                    <div id="opcionesAdmin" class="opciones" *ngIf="menuAdminvisible">
                        <ul class ="navbar-nav">
                        <li class ="nav-item">
                          <button type="button" (mousedown)="clickAdminEmp()" class="btn btn-dark botonm" >Empleados</button>
                        </li>
                        <li class ="nav-item">
                          <button type="button" (mousedown)="clickAdminTareas()" class="btn btn-dark botonm">Tareas</button>
                        </li>
                        <li class ="nav-item">
                          <button type="button" (mousedown)="clickAdminRecompensas()" class="btn btn-dark botonm">Recompensas</button>
                        </li>
                        </ul>
                    </div>

                  <div id="opcionesEmpleado" class="opciones"  *ngIf="menuEmpvisible">
                    <ul class ="navbar-nav">
                    <li class ="nav-item">
                      <button type="button" (mousedown)="clickTareas()" class="btn btn-dark botonm" >Unirse a Tareas</button>
                    </li>
                    <li class ="nav-item">
                      <button type="button" (mousedown)="clickRecompensas()" class="btn btn-dark botonm">Solicitar recompensas</button>
                    </li>
                    </ul>
                  </div>

                  <div id="opcionesSupervisor" class="opciones"  *ngIf="menuSupvisible">
                    <ul class ="navbar-nav">
                    <li class ="nav-item">
                      <button type="button" (mousedown)="clickTareas()"  class="btn btn-dark botonm" >Supervisar tareas</button>
                    </li>
                   
                    </ul>
                </div>
                </div>
              </div>
